@import "../../Styles/variables.scss";

#members{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
    // align-items: center;
    margin-left: 15%;
    .container-members{
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:flex-start;
        label{
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
            &:hover{
                cursor: pointer;
            }
        }
    }
    .inputs-members{
        padding: 10px 20px;
        width: 210px;

    }

    input[type='text']{
        width: 20%;
    }

    a{
        padding: 0;
        width: max-content;
        height: 0;
    }
    button{
        margin-top: 35px;
        width: max-content;
        background-color: $alternative-color;
        color: $light-color;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        padding: 7px 24px;
        font-size: 1.1rem;
    }
    .extra-space{
        margin-bottom: 50px;
    }
    .btn-cancel{
        background-color: gray;;
        margin-left: 10px;
    }
    .newGuest{
        padding: 20px;
        font-weight: bold;
        color: $alternative-color;
        width: max-content;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
    label.tinySub{
        margin-top: 8px;
        margin-bottom: 5px;
    }
    input[type='text']{
        width: 50%;
        padding: 7px;
        border-radius: 3px;
        border-bottom: 3px solid grey;
        &:focus{
            outline: none !important;
            border:3px solid $alternative-color;
            // box-shadow: 0 0 10px #719ECE;
        }
    }
}