@import "./Styles/variables.scss";

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-color;
  color: $light-color;
  overflow-x: hidden;
  a{
    text-decoration: none;
    .back-svg{
      margin-top: 25px;
      margin-left: 25px;
      &:hover{
          fill: $alternative-color;
      }
  }
  }
  
  h1{
    font-size: 3rem;
}
  .second-head{
    font-size: 1.5rem;
  }
  .tinySub{
    display: block;
    font-size: 1rem;
    color:#9397a3;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
