
// body{
//     background-color: #0F5CA3;
//     color: #fff;
// }

#error-page{
    background-color: #0F5CA3;
    min-height: 100vh;
    color: #fff;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}